{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="col-12 col-md-6 mx-auto border p-4 rounded-3" style="background-color: #d1e7dd">
        <h1 class="display-5 fw-bold text-center">Login</h1>
        <form action="" method="post">
            {% csrf_token %}    
            <div class="mb-3">
                <label for="username" class="form-label">{{form.username.label}}</label>
                {{form.username}}
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">{{form.password.label}}</label>
                {{form.password}}
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-dark">Ingresar</button>
                <p>¿Todavía no tienes una cuenta? <a href="{% url 'register' %}">Regístrate</a></p>
            </div>
        </form>
    </div>  

{% endblock %}



