{% extends "base.html" %}

{% block title %}Vuelos List{% endblock %}

{% block content %}
    <h1 class="text-center">Listado de vuelos</h1>

    <div class="table-responsive">
        <table class="table table-success table-hover">
            <thead style="text-align: center;">
                <tr class="table-secondary">
                    <th scope="col">Avion</th>
                    <th scope="col">Origen</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Fecha de salida</th>
                    <th scope="col">Fecha de llegada</th>
                    <th scope="col">Duracion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Precio base</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
                {%for vuelo in vuelos%}
                <tr class="">
                    <td>{{ vuelo.avion }}</td>
                    <td>{{ vuelo.origen }}</td>
                    <td>{{ vuelo.destino }}</td>
                    <td>{{ vuelo.fecha_salida }}</td>
                    <td>{{ vuelo.fecha_llegada }}</td>
                    <td>{{ vuelo.duracion }}</td>
                    <td>{{ vuelo.estado }}</td>
                    <td>{{ vuelo.precio_base }}</td>
                    <td>
                        <a href="">
                            <i class="bi bi-eye"></i>
                        </a>
                    </td>
                </tr>
                <!-- {% empty %}
                <tr class="">
                    <td colspan="4">No hay vuelos</td>
                </tr> -->
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}