<div class="modal fade" id="crearPasajeroModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #f8f9fa;">
      <div class="modal-header">
        <i class="modal-title bi bi-person-plus-fill fs-1 mx-3 text-success"></i>
        <h5 class="modal-title fw-bold text-center">Crear Pasajero</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
       <form action="{% url 'crear_pasajero' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">

          <div class="mb-3">
            <label for="nombre" class="form-label">{{ pasajero_form.nombre.label }}</label>
            {{ pasajero_form.nombre }}
          </div>
          <div class="mb-3">
            <label for="apellido" class="form-label">{{ pasajero_form.apellido.label }}</label>
            {{ pasajero_form.apellido }}
          </div>
          <div class="mb-3">
            <label for="pasaporte" class="form-label">{{ pasajero_form.pasaporte.label }}</label>
            {{ pasajero_form.pasaporte }}
          </div>
          <div class="mb-3">
            <label for="fecha_nacimiento" class="form-label">{{ pasajero_form.fecha_nacimiento.label }}</label>
            {{ pasajero_form.fecha_nacimiento }}
          </div>
          <div class="mb-3">
            <label for="nacionalidad" class="form-label">{{ pasajero_form.nacionalidad.label }}</label>
            {{ pasajero_form.nacionalidad }}
          </div>
          <div class="mb-3">
            <label for="genero" class="form-label">{{ pasajero_form.genero.label }}</label>
            {{ pasajero_form.genero }}
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">{{ pasajero_form.email.label }}</label>
            {{ pasajero_form.email }}
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">{{ pasajero_form.telefono.label }}</label>
            {{ pasajero_form.telefono }}
          </div>

          <div class="d-flex justify-content-between align-items-center mt-3">
            <button type="submit" class="btn btn-success btn-lg w-100">Crear Pasajero</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
